.leaderboard {
  .swiper-slide {
    text-align: left;
    font-size: 18px;
    border-radius: 1.5rem;
    border: 1px solid #e0d9d9a6;
    /* Center slide text vertically */
    box-shadow: 0 0.125rem 0.625rem rgba(16, 57, 175, 0.2196078431);
    background: transparent
      linear-gradient(180deg, #ffffff 0%, #ffffff 75%, #f1f2f6 100%) 0% 0%
      no-repeat padding-box;
  }
}


